django>=5.1,<7.0
groq
python-dotenv
django-allauth
requests
django-csp
python-magic-bin
PyPDF2
python-docx
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
chromadb
sentence-transformers
